[Desktop Entry]
Type=Application
Name=neoOMSI
Comment=Bus simulator compatible with OMSI 2 maps and mods
Exec=neoomsi
Icon=neoomsi
Categories=Game;Simulation;
Terminal=false
