[Desktop Entry]
Type=Application
Name=openOMSI
Comment=Bus simulator compatible with OMSI 2 maps and mods
Exec=openomsi
Icon=openomsi
Categories=Game;Simulation;
Terminal=false
